*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: row;
}

.board{
  border: solid black;
  border-width: 3px;
  height: 600px;
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: #7da7e8;
  box-shadow: 15px 20px #888888;
}
.cell{
  border: solid black;
  width: 99px;
  height: 100px;
}
.buttons{
  width: 700px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* align-content: space-between; */

}
button{
  background-color: white; /* Green */
  color: black;
  border: 2px solid #008CBA;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  transition-duration: 0.4s;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50%;
  width: 14%;
}
button:hover {
    background-color: #008CBA;
    color: white;
}
button:active {
  background-color: #59cee0;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
.win-message {
  position: absolute;
  width: 100%;
  top: 200px;
  background-color: rgba(255,255,255,0.75);
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}
.game-info{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
}
.game-info img{
  margin-left: 70px;
}
