*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: row;
}

.board{
  border: outset black;
  height: 600px;
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: #27b24a;
  /* box-shadow: 10px 15px #888888; */
}
.cell{
  border: solid black;
  width: 99px;
  height: 100px;
}
.buttons{
  width: 700px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* align-content: space-between; */

}
button{
  background-color: white; /* Green */
  color: black;
  border: 2px solid #aa1406;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  transition-duration: 0.4s;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50%;
  width: 14%;
}
button:hover {
    background-color: #2bf25d;
    color: white;
}
button:active {
  background-color: #0d5920;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
.win-message {
  position: absolute;
  width: 100%;
  top: 200px;
  background-color: rgba(255,255,255,0.75);
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}
.game-info{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
  background-image: url('images/gamebackground.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.playerOne{
  background-image: url('images/zelda.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.playerTwo{
  background-image: url('images/link.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#playerTurn{
  margin-left: 25%;
  font-size: 30px;
}
#imgTitle{
  width: 430px;
  height: 100px;
  float: left;
  padding-right: 100px;
}
#connect4{
  z-index: -1;
  /* float: right; */
}
